html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body, input, textarea, select, button {
  font-family: "Helvetica Neue", "Calibri", Arial;
  font-size: 0.8em; }

html {
  background: white; }

body {
  -webkit-box-shadow: 0 0 16px black; }

body {
  margin: 0;
  background: black;
  color: black;
  position: relative;
  width: 320px;
  height: 460px; }
  body ul, body li, body p {
    margin: 0;
    padding: 0; }
  body ul {
    list-style: none;
    overflow: hidden; }
  body * {
    outline: none; }
  body img {
    border: none; }
  body a {
    color: black;
    text-decoration: none; }
  body table {
    font-size: 100%; }
    body table td {
      vertical-align: top; }
  body .invisible {
    visibility: hidden; }
  body .hidden {
    display: none; }

#nowplaying .toolbar {
  position: absolute;
  width: 100%;
  top: 0; }

.toolbar {
  -webkit-box-sizing: border-box;
  height: 43px; }
  .toolbar.black {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), color-stop(0.5, #202020), color-stop(0.5, black), to(black));
    border-top: 1px solid #858585;
    border-bottom: 1px solid #252525;
    margin-bottom: 1px; }

#nowplaying {
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  padding-top: 44px; }
  #nowplaying .perspective {
    -webkit-perspective: 400px; }
    #nowplaying .perspective .nowplaying_artwork {
      width: 320px;
      height: 320px;
      background: url(http://musicalstewdaily.files.wordpress.com/2008/09/delicate-sound-of-thunder.jpg) no-repeat center center;
      background-size: cover;
      -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
      -webkit-transform: rotateY(-45deg);
      -webkit-backface-visibility: hidden; }
  #nowplaying #controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    height: 95px;
    border-top: 1px solid #595959;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 80, 80, 0.67)), color-stop(0.5, rgba(40, 40, 40, 0.65)), color-stop(0.5, #080502), to(black)); }
